body {
  height: 100%;
    transform: scale(0.3);
    transform-origin: 0 0;
    
  }
  
  .headContainer {
      position: relative;
      background-image: url('assets/ferris.webp');
      background-size:100%;
      background-repeat: no-repeat;
      color: white;
      text-align: center;
      font-size: 15px;
      font-family:Arial;
      margin-left: 10px;
      width: 1481.2px;
      height: 800px;
     
      
  }
  
  .headContainer img {
      width:25px;
      height:20px;
     border: none;
     
    }
  
  
    .headContainer img:hover {
      opacity: 0.5;
     
    }
  
    .headContainer:hover {
      text-decoration: none;
    }
  
    .socialnetworks {
      display: inline-block;
  }
  
  
  #headline {
      color: rgb(255, 255, 255);
      font-family: Arial;
      font-size: 50px;
  }
  
  #headlineText {
      font-size: 20px;
  }
  
  .headlinks {
      display: relative;
      margin-right: 850px;
      margin-bottom: 480px;
  }
  
  #headlink {
      display: inline-block;
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-weight: bold;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 5cm;
      padding: 7px 20px 7px 20px;
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      opacity: 0.7;
      
  }
  
  #headlink:hover {
      opacity: 0.5;
      text-decoration: none;
      background-color:rgb(56, 55, 55);
      color: white;
      opacity: 1;
      font-size: 18px;
      border: none;  
  
  }
  
  .secondPaper{
    position: absolute; 
    margin-left: 50px;
    margin-top: 20px;
    width: 680px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Allura';
    font-size: 20px; /*DATE FONT SIZE*/
    border: 1px solid rgb(0, 0, 0);
    z-index: 2;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0.5;
    padding: 25px;
    border-radius: 3px 3px 3px 3px;
    
  }
  
  .secondPaper::-webkit-scrollbar  {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  
  p {font-family: monospace;
  font-size: 14;}
  
  
  .secondContainer{
    position: relative; 
    margin-top: 20px;
    margin-left: 10px;
    width: 1381.2px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    background-image: url('assets/ferris.webp');
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    font-family: 'Allura';
    border: 1px solid rgb(0, 0, 0);
    z-index: 3;
    border: 1px solid white;
    padding: 50px;
    
  }
  
  .thirdContainer{
    position: relative; 
    margin-top: 20px;
    margin-left: 10px;
    width: 1381.2px;
    height: 800px;
    background-image: url('assets/ferris.webp');
    background-size: 250%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Allura';
    z-index: 3;
    padding: 50px;
    color:rgb(255, 255, 255);
    
    
  }
  
  .thirdContainer img {
    margin-left:80px;
    opacity: 1;
  }
  
  
  /* Gray Scale */
  .thirdContainer img{
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor:pointer;
  }
  .thirdContainer:hover img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
  }
  
  .quotes {display: none;}
  .quotePaper{
    position: absolute; /* Reposition logo from the natural layout */
    margin-left: 400px;
    margin-top: -70px;
    width: 530px;
    height: 250px;
    color:rgb(0, 0, 0);
    font-family: 'Allura';
    font-size: 50px;
    z-index: 10;
    padding: 25px;
    opacity: 0.5;
    border-radius: 60px 60px 60px 60px; 
    
  }
      
  
      /*MENU BUTTON*/
      #menu {
          display: inline-block;
          cursor: pointer;
          margin-right: 1250px;
          
        }
        
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: rgb(255, 255, 255);
          margin: 6px 0;
          transition: 0.4s;
        }
        
        /* Rotate first bar */
        .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-9px, 6px) ;
        }
        
        /* Fade out the second bar */
        .change .bar2 {
          opacity: 0;
        }
        
        /* Rotate last bar */
        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-8px, -8px) ;
        }
  
      
      /*DROPDOWN CONTENT*/
  
      #dropdown-content {
        display: none;
        position:absolute;
        margin: 0;
        background-color: snow;
        opacity: 0.9;
        height:400px;
        margin-top: 10px;
        margin-left: 0px;
        width: 1480;
        z-index: 50;
        font-family: arial;
        font-size: 40px;
        color: black;
        animation: fadeIn ease 2s;
      
        }
        @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:0.9;}
        }
  
      
  ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: center;
    text-decoration: none;
    animation: fadeIn ease 4s;
      
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:0.9;}
  }
  
  li { 
    display: table-cell; 
    position: relative; 
    padding: 35px 0;
    
  }
  
  
  a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
  
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 2.5px;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    
  }
  a:hover:after { 
    width: 50%; 
    left: 23%; 
    
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  
  footer {
    font-family: 'Amatic SC';
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 20;
    text-align: center;
  
  }