
strawberries/assets/bg1.jpg
strawberries/assets/bg2.png
strawberries/assets/mainlips3.png
strawberries/assets/lippx.png
strawberries/assets/viber_image_2021-01-21_14-52-01.jpg
strawberries/assets/lipstick.jpg
assets/FerrisWheelLayout.png
assets/MonochromeParticlesLayout.png
