a:active a:visited a:after a:hover 
{
    text-decoration: none; 
    decoration: none; 
}


h1 {  
 position: relative;
 top: 100px;
 font-family: arial;
text-decoration: none;
letter-spacing: 0.15em;
 font-size: 30px;
 color: black;
overflow: hidden;
text-align:center;
z-index: 1;
width: 1200px;

}

/*background: url('https://i.ibb.co/SdFn0Hv/cool-background.png');
*/

.content {

display: inline-grid;
 width: 1200px;
 margin-left: 100px;
 
 column-gap: 0px; 
 row-gap: 30px;
 font-family: 'Amatic SC';
 
 grid-template-rows: repeat (2, minmax(0, 1fr));
 grid-template-columns: repeat(2, minmax(0, 1fr));
 justify-items: stretch;
 align-items: stretch;
 font-size: 20px;
 text-align: justify;
 padding: 40px;
 
}

.iframe {
  display:block;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  
  
}

.article {
  position: relative;
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  background-attachment:fixed;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  text-align: justify;
  padding: 40px;
  width: 400px;
 
  
}

#headerarticle {
  font-family: Amatic SC;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 4px 4px 4px #aaa;
 
}



.topnav a:link, a:visited {
  color: rgb(133, 122, 122);
  font-family: arial;
  font-size: 12px;
  text-decoration: none;
}


.topnav a:hover {
  color: rgb(235, 231, 231);
  text-decoration: none;
}



.topnav { 
  font-family: arial;
  background-color: rgb(255, 255, 255);
  color: rgb(105, 96, 96);
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: none;
  }

  .topnav img {
    width:25px;
    height:20px;
   border: none;
   
  }

  .topnav img:hover {
    opacity: 0.5;
  }
  
  .socialnetworks {
    margin: auto;
    position: relative;
    left: 300px;
  }
  
  
 

footer {
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}




/*LOGIN FORM: */



.loginform { text-align: center;
  color: rgb(0, 0, 0);
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  padding:50px;
  margin: 30px 400px 100px 400px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}

.forgotpasswordform { text-align: center;
  color: rgb(0, 0, 0);
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  padding:50px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}




/* PARTICLES CSS */

canvas{ display: block; vertical-align: top; }
 /* ---- particles.js container ---- */
 
 #particles-js{ 
   position:absolute; 
   width: 1200px; 
  height: 300px; 
  background-color: #ffffff;
   background-image: url(""); 
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: 50% 50%;
   z-index: 2; 
   background-size: auto;

}

#particleContainer {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 10px;
  

}
   
/*DROP DOWN MENU*/

.dropdown-container { 
  position:relative;
  z-index: 100; }

.dropbutton { background-color: rgb(0, 0, 0);
   color: white; 
   position: relative;
  
   font-family: arial;
    padding: 14px; 
    margin-top: 20;
    font-size: 20px;
    margin-left:10px;
     border: none; 
     cursor: pointer; }

.dropbutton:hover + .dropdown-content {
  display: block;
}

.dropdown-content {display: none;
  font-family: arial;
  position: absolute;
  top: 100%;
  left: 0px; 
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
  width: 240px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  border: 1px solid black;z-index: 3;opacity: 1;
  
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}


  
} 
 
  
.dropdown-content a { color: rgb(0, 0, 0); 
  text-align: left; 
  font-weight: bold;
   padding: 12px 16px;
    text-decoration: none;
     display: block; 
    
    }

.dropdown-content a:hover { 
  color: rgb(0, 0, 0); 
  background: rgb(255, 255, 255); 
  border: 1px solid rgb(0, 0, 0);
 }

 .dropdown-content:hover {
   display: block;
 }


.show { display: block; }

/*SHOP */


.shop {

 display: grid;
 width: 1200px;
 margin-left: 100px;
 margin-right: 25px;
 column-gap: 40px; 
 row-gap: 40px;
 font-family: 'Amatic SC';
 text-shadow: 4px 4px 4px #aaa;
 grid-template-rows: 1fr 1fr 1fr;
 grid-template-columns: repeat(3, minmax(0, 1fr));
 justify-items: stretch;
 align-items: stretch;
 font-size: 20px;
 text-align: justify;
 padding: 40px;
  
  
}

.shop-item {
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  background-attachment:fixed;
  border: 1px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  font-family: 'Amatic SC';
  width:200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}


.shop-item-title {
  display:inline-block;
  padding: 10px;
  text-align: center; 
  font-weight: bold;
  font-size: 30px;
 
}

.shop-item-details {
  display:inline-block;
  padding: 10px;
  text-align: center;
  font-family: 'Amatic SC'; 
  font-size: 30px;
  font-weight: bold;
  
}


.shop-item-button {
  width: 20%;
  height: 50%;
  margin-top: 5px;
  cursor: pointer;
  align-self: center;
}

/*CART*/
.cart {
  position: relative;
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  background-attachment:fixed;
  font-family: 'Amatic SC';
  font-size: 20px;
  text-align: justify;
  padding: 40px;
  width: 1200px;
  margin-left: 100px;
  margin-right: 25px;

  
}


.cart-header {
  font-weight: bold;
  font-size: 30px;
  color: #333;
  text-align: center;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
  
}

.cart-row {
  display: flex;
  font-weight: bold;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #CC4C4C;
  cursor: pointer;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Amatic SC';
  cursor: pointer;
} 